/*Mi hoja de estilos*/
*{
    margin: 0px 1px 2px 5px;
    padding: 0px;

}

nav {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
}


h1{
    font: bold 20px verdana, sans-serif;
}
h2{
    font: bold 14px verdana, sans-serif;
}
header, section, footer,nav,article, aside, figure, figcaption{
    display: block;
}
body{
    text-align: center;
    background-color: #d4f3e2;
    opacity: 0.8;
    
    background-repeat: no-repeat;
}
#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}
#menu{
    background: #cccc;
    padding: 5px 15px;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
#SECTION{
    float: left;
    width: 660px;
    margin: 20px;
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #cccccc;


}
article{
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}
.Texto1{
    font-size: 20px;
}
.parr1{
    background-color: darkgray;
}
.parr2{
    background-color: rgb(190,190,190);
}
.parr3{
      background-color: #1c613f;
}
.parr4{
    background-color: hsl(300, 76%, 72%);
}
.parr5{
    border-style: dotted solid double dashed;
    border-width: 5px; /* Valores predefinidos :thin, medium, y thick */
    margin: 100px 100px  150px 80px;
    padding: 50px 30px 50px 80px ; /*relleno */

}
.articulo1{
    height: 200px;
    width: 50px;
    background-color: #407253;
}
.box {
   
    background-color: lightgray;
    width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
    overflow: auto; /* Ajustamos la propiedad overflow */
    align-items: center; /* Centra verticalmente */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}
.outline-example {
    width: 200px;
    height: 100px;
    background-color: rgb(148, 192, 207);
    margin: 20px;
    outline: 2px solid rgb(21, 20, 20); /* Establece un contorno de 2px de ancho con color especificado */
    padding: 10px; /* Agrega un relleno de 10px alrededor del contenido */
}
.container {
    display: flex;
    text-align: center; /* Alinea el texto al centro  Text-Alignment (Alineación del texto)*/
    text-decoration: underline; /* Subraya el texto   Text-Decoration (Decoración del texto): */
    text-transform: uppercase; /* Transforma el texto a mayúsculas     Text-Transformation (Transformación del texto): */
    letter-spacing: 2px; /* Aumenta el espaciado entre letras a 2px    Text-Spacing (Espaciado del texto): */
    word-spacing: 5px; /* Aumenta el espaciado entre palabras a 5px */
    font-family: "Arial", sans-serif; /* Utiliza la fuente Arial, si no está disponible, utiliza cualquier fuente sans-serif */
    font-family: Arial, Helvetica, sans-serif; /* Utiliza fuentes seguras para la web como Arial, Helvetica o cualquier fuente sans-serif */
    font-style: italic; /* Aplica el estilo cursiva a la fuente */
    margin-bottom: 20px;
}


  
  table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Colapso de bordes */
    border-style: none;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-style: dashed;
   
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}
/* Estilo de encabezado */
th {
   
    color: white; /* Texto blanco */
    background-color: #333
}
/* Estilos responsivos */
@media screen and (max-width: 600px) {
    table {
        overflow-x: auto; /* Permitir desplazamiento horizontal en dispositivos pequeños */
    }
}







